.add-investigation {
    background: linear-gradient(to right, #007bff, #4b9cd3);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.5);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .add-investigation:hover, .add-investigation:focus {
    background: linear-gradient(to right, #0069d9, #3a87c2);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
    transform: translateY(-2px);
  }
  
  .add-investigation:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 123, 255, 0.5);
  }

  .categoria-imagen {
    width: 100px; /* Ancho fijo para todas las im치genes */
    height: 100px; /* Altura fija para todas las im치genes */
    object-fit: cover; /* Esto asegura que la imagen se recorte para ajustarse al tama침o, sin distorsionar */
    border-radius: 5px; /* Opcional: bordes redondeados */
}


th, td {
    text-align: center; /* Centrar texto en todas las celdas y encabezados de la tabla */
    vertical-align: middle; /* Alineaci칩n vertical al medio */
}


  